__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

reference_based/outputs/
reference_based/checkpoints/
reference_based/logs/
reference_based/__pycache__/

outputs/
checkpoints/
logs/

CrossScore-main/
gaussian-splatting-main/

data/*
!data/train.ply
!data/truck.ply

*.zip
*.tar.gz
*.7z
